In [9]:
# Importing the necessary library 

import pandas as pd
import numpy as np
import scipy.stats
import statsmodels as sm
from math import floor
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")

# Multiple outputs per cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [10]:
# Import label encoder which helps to normalize the data set  
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 

df  = pd.read_csv('C:/Users/USER/Downloads/healthcare-dataset-stroke-data.csv')
df.shape
df.head()

(5110, 12)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [11]:
df.nunique()

id                   5110
gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [12]:
# Drop unique data and almost unique data for every row as well as NaN
df.drop(columns=["id", "avg_glucose_level", "bmi"], inplace=True) 
df.dropna(inplace=True)

In [13]:
# Encode labels of categorical variables
for c in ["gender", "work_type", "Residence_type", "smoking_status","ever_married"]:
    df[c]= label_encoder.fit_transform(df[c])

In [14]:
# Apply the best probabilistic distribution fit for Age:fisk and round it.
params = scipy.stats.fisk.fit(df['age'])
df['age'] = scipy.stats.fisk.rvs(size=len(df.index), *params).round()

In [15]:
# Replace the column names with numbers and see the new generated dataset
df.columns = list(range(df.shape[1]))
df.head()

   0     1  2  3  4  5  6  7  8
0  1  22.0  0  1  1  2  1  1  1
1  0  21.0  0  0  1  3  0  2  1
2  1  47.0  0  1  1  2  0  2  1
3  0  57.0  0  0  1  2  1  3  1
4  0  37.0  1  0  1  3  0  2  1